{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<table style="width:100%">
	<tr>
		<th>
			<div class="item" style="font-family: Roboto; font-size: 43px; line-height: 50.390625px;text-align: CENTER;color : rgba(186.73436790704727, 190.66562175750732, 196.5624949336052, 1);">
				Online video
			</div>
		</th>
		<th>
				<div class="item" style="font-family: Roboto; font-size: 43px; line-height: 50.390625px;text-align: CENTER;color : rgba(186.73436790704727, 190.66562175750732, 196.5624949336052, 1);">
						Summary
				</div>
		</th>
	</tr>
	<tr>
		<td>Aquí va la mierda del vídeo</td>
		<td>
				<div class="item" style="overflow-y: scroll; height:400px;">
					Aquí va la mierda del resumen
				</div>
		</td>
	</tr>
	<tr>
		<td>
			<label for="url">URL</label>
			<form action="" method="post">
					<input type="text" id="fname" name="url">  
					<input type="submit" name="upvote" value="Start" />
					<input type="submit" name="downvote" value="Clean video" />
			</form>
		</td>
	</tr>
		<!--<form>
		  <form action="/index" method="POST">
		</form>-->
		

		<form action="" method="post">
			
		</form>
	</form>

	</tr>
</table>


	
{% endblock %}
