{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

	<h1 class="ui header">{{ title }}</h1>

	<!--{% if current_user.is_authenticated %}
	  	<h2 class="ui header">Hi {{ current_user.first_name }}!</h2>
	{% endif %}-->

	<form>
            <label for="url">URL</label>
              <form action="/index" method="POST">
            </form>
            <form action="" method="post">
                    <input type="text" id="fname" name="url">  
                    <input type="submit" name="upvote" value="Start" />
                </form>
    
            <form action="" method="post">
                <input type="submit" name="downvote" value="Clean video" />
            </form>
        </form>
    
    
        
    {% if content %}
        <h3>The summary of the video is {{ content }}</h3>
    {% endif %}

    {% if claves %}
        <h4>keywords {{ claves }}</h3>
    {% endif %}
{% endblock %}
