
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Stylesheet -->
  <meta charset="UTF-8">
  <title>FastForward</title>
  <link rel="stylesheet" href="main.css" media="screen">
</head>
<body>
  <table class="table_frame">
      <tr>
        <th>
          <div class="video">
            Online video
          </div>
        </th>
        <th>
            <div class="summary">
                Summary
            </div>
        </th>
      </tr> <!--headers-->
      <tr>
        <td><div id="player"></div></td>
        <!--<td>
            <div class="item" style="overflow-y: scroll; position: absolute; right: 0px; height:400px;width:500px;margin-right: 50px;color : rgba(186.73436790704727, 190.66562175750732, 196.5624949336052, 1);">
              Resumen
            </div>
        </td>-->
      </tr>
      <tr>
        <td>
          <form action="" method="post">
              <input type="text" id="fname" name="url" placeholder="Please paste your URL"> 
              <input class="btn_one" type="submit" name="upvote" value="Start" />
              <input class="btn_one" type="submit" name="downvote" value="Clean video" />
          </form>
        </td>
        <td class="sum_text">
            Here we will have the frames of the highlights
        </td>
      </tr>
          <div class="item" style="position: absolute;bottom: 0;
          left: 0; height:400px;width:500px;color : rgba(186.73436790704727, 190.66562175750732, 196.5624949336052, 1);">
              keywords
          </div>
    </table>
  </body>
  </html>
Contraer

Entrada de mensaje


Enviar mensaje a #general